body{
background-color: #A5C6CE;
}
#container{
width:80%;
margin:0 auto;
}
#header{
height:150px;
margin: 5px auto;
background-color: #4B94C6;
border-radius: 10px;
}
#greet{
height:200px;
background-color:#B4C4CD;
width:40%;
padding:5px;
border-radius: 10px;
}
#content{
height:750px;
padding:10px;
margin: 5px auto;
background-color: #4B94C6;
border-radius: 10px;
}
#footer{
height:100px;
margin: 5px auto;
background-color: #4B94C6;
border-radius: 10px;
}
#menu{
list-style-type:none;
width:30%;height:50px;
position:relative;
top: 120px;
left: 10px;
}
#menu li{
display:inline;
margin: 10px;
background-color:#B4C4CD;
border-radius: 10px;
height:500px;
}
#menu li a{
text-decoration: none;
color: #4B94C6;
font-size:100%;
font-family:Futura;
}