<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel = "stylesheet" type = "text/css" href = "{{ pathcss }}">
    <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
</head>
<body>
<div id="container">
    <div id="header">
        <ul id="menu">
            <li><a href="/order">Заказать</a></li>
            <li><a href="#">Принять заказ</a></li>
            <li><a href="#">О проекте</a></li>
        </ul>
    </div>
    <div id="content">
        <div id = "greet" align="left">
            <p>Привет, пользователь! Наверняка рядом с тобой есть кто-то кто не может сам сходить в магазин.
            На нашем сайте ты сможешь помочь таким, сходив за них за покупками! А может тебе самому нужны продукты?
            Здесь тебе помогут!</p>
        </div>
    </div>
    <div id="footer">
        <h1>footer</h1>
    </div>
</div>

</body>
</html>