{% extends 'base.html' %}
{% block content %}
    <h1 class="text-center">Изменение настроек</h1>
    <hr>
    <form method="post">
        {{ form.csrf_token }}
        {% for field in form if field.name != 'csrf_token' %}
            {% for error in field.errors %}
                <div class="alert alert-primary" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
            <div class="form-group">
                {{ field.label() }}
                {{ field(class_="form-control") }}
            </div>
        {% endfor %}
        {% if not current_user.is_linked %}
            <div class="form-group">
                <a href="https://vk.me/hleber" class="text-muted" target="_blank">
                    Подключите бота ВКонтакте для получения уведомлений
                </a>
            </div>
        {% endif %}
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Сохранить изменения</button>
        </div>
    </form>
{% endblock %}