<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Хлебер-β{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/icon.png') }}"/>
    <script src="https://vk.com/js/api/openapi.js?168" type="text/javascript"></script>
</head>
<body>
<script type="text/javascript">
    VK.init({
        apiId: 7451096
    });
</script>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top rounded-bottom">
    <a href="{{ url_for('main.index') }}" class="navbar-brand">
        <img src="{{ url_for('static', filename='img/icon.png') }}" alt="Хлебер-β" height=30 width=30 class="rounded-circle">
        Хлебер-β
    </a>
    <button class="navbar-toggler"  type="button" data-toggle="collapse" data-target="#nav" aria-controls="nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="nav">
        <div class="navbar-nav">
            <a href="{{ url_for('main.index') }}" class="nav-item nav-link">Главная</a>
            <a href="{{ url_for('orders.create') }}" class="nav-item nav-link">Сделать заказ</a>
            <a href="{{ url_for('orders.free') }}" class="nav-item nav-link">Принять заказ</a>
        </div>
        <div class="navbar-nav ml-auto">
            {% if current_user.is_authenticated %}
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link active dropdown-toggle" id="dropdownToggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ current_user.first_name }}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownToggle">
                        <a href="{{ url_for('orders.given') }}" class="dropdown-item">Мои заказы</a>
                        <a href="{{ url_for('orders.doing') }}" class="dropdown-item">Взятые заказы</a>
                        <div class="dropdown-divider"></div>
                        <a href="{{ url_for('auth.logout') }}" class="dropdown-item">Выход</a>
                    </div>
                </div>
            {% else %}
                <a href="{{ url_for('auth.login') }}" class="nav-item nav-link active">Вход</a>
            {% endif %}
        </div>
    </div>
</nav>
<br>
<div class="container">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div>
                {% for message in messages %}
                    <div class="alert alert-primary alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button class="close" type="button" data-dismiss="alert" aria-label="Закрыть">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>