{% extends 'base.html' %}
{% block content %}
    <h1 class="text-center">Добро пожаловать!</h1>
    <hr>
    <p class="text-center">Привет, пользователь! Наверняка рядом с тобой есть кто-то кто не может сам сходить в магазин.
    На нашем сайте ты сможешь помочь таким, сходив за них за покупками! А может тебе самому нужны продукты?
    Здесь тебе помогут!</p>
    <p class="text-center text-muted"><small>Проект работает только на территории Новосибирска.</small></p>
    <p class="text-center py-3"><a href="https://github.com/deker104/hleber" target="_blank">
        Мы на GitHub
    </a></p>
{% endblock %}
