{% extends 'base.html' %}
{% block content %}
    {% if not done %}
        <h1 class="text-center">Принятые заказы</h1>
        <a href="{{ url_for('orders.taken', done=True) }}">
            <p class="text-center">Показать историю заказов</p>
        </a>
    {% else %}
        <h1 class="text-center">История принятых заказов</h1>
        <a href="{{ url_for('orders.taken', done=False) }}">
            <p class="text-center">Показать новые заказы</p>
        </a>
    {% endif %}
    <hr>
    {% for order in orders %}
        <strong>{{ order.client.first_name }} {{ order.client.last_name }}</strong>
        <p><strong>Телефон:</strong> {{ order.phone }}</p>
        <p><strong>Адрес:</strong> {{ order.address }}</p>
        <p>{{ order.text }}</p>
        <p class="text-muted">Последнее обновление: {{ order.last_updated }}</p>
        {% if order.volunteer_confirm %}
            <p>Завершено волонтёром</p>
        {% endif %}
        {% if order.client_confirm %}
            <p>Подтверждено клиентом</p>
        {% endif %}
        <a class="btn btn-primary" href="{{ url_for('orders.about', id=order.id) }}">Подробнее</a>
        <hr>
    {% endfor %}
    {% if not orders %}
        <p class="text-muted text-center">Здесь ничего нет.</p>
    {% endif %}
{% endblock %}