{% extends 'base.html' %}
{% block content %}
    <h1 class="text-center">Информация о заказе</h1>
    <hr>
    <strong>{{ order.client.first_name }} {{ order.client.last_name }}</strong>
    <p><strong>Телефон:</strong> {{ order.phone }}</p>
    <p><strong>Адрес:</strong> {{ order.address }}</p>
    <a href="{{ map_file }}" target="_blank">
        <img src="{{ map_file }}" alt="Адрес указан некорректно" class="mb-3 img-fluid">
    </a>
    <p class="text-break">{{ order.text }}</p>
    <a class="btn btn-primary" href="{{ url_for('orders.volunteer_confirm', id=order.id) }}">Закончить заказ</a>
    <br>
{% endblock %}