{% extends 'base.html' %}
{% block content %}
    {% if not done %}
        <h1 class="text-center">Отправленные заказы</h1>
        <a href="{{ url_for('orders.given', done=True) }}">
            <p class="text-center">Показать историю заказов</p>
        </a>
    {% else %}
        <h1 class="text-center">История отправленных заказов</h1>
        <a href="{{ url_for('orders.given', done=False) }}">
            <p class="text-center">Показать новые заказы</p>
        </a>
    {% endif %}
    <hr>
    {% for order in orders %}
        <strong>{{ order.client.first_name }} {{ order.client.last_name }}</strong>
        <p><strong>Телефон:</strong> {{ order.phone }}</p>
        <p class="text-break">{{ order.text }}</p>
        <p class="text-muted">Последнее обновление: {{ moment(order.last_updated).fromNow() }}</p>
        {% if order.volunteer_id %}
            <p><strong>Волонтер:</strong> {{ order.volunteer.first_name }} {{ order.volunteer.last_name }}</p>
            <p><strong>Телефон волонтера:</strong> {{ order.volunteer.phone }}</p>
        {% endif %}
        {% if order.volunteer_confirm %}
            <p>Завершено волонтером</p>
        {% endif %}
        {% if order.client_confirm %}
            <p>Подтверждено клиентом</p>
        {% else %}
            <a class="btn btn-primary" href="{{ url_for('orders.delete', id=order.id) }}">Удалить</a>
            <a class="btn btn-primary" href="{{ url_for('orders.change', id=order.id) }}">Редактировать</a>
            {% if order.volunteer %}
                <a class="btn btn-primary" href="{{ url_for('orders.client_confirm', id=order.id) }}">Завершить</a>
            {% endif %}
        {% endif %}
        <hr>
    {% endfor %}
    {% if not orders %}
        <p class="text-muted text-center">Здесь ничего нет.</p>
    {% endif %}
{% endblock %}
